.loginCard {
    margin: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButtons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFields{
    margin: 15rem;
}

button{
    margin: 0.25rem;
}

mat-form-field{
    margin: 0.25rem;
}