<mat-card class=loginCard>
<div class=loginFields>
    <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password">
    </mat-form-field>

<div class=loginButtons>
<button mat-raised-button color="accent">new here?</button>
<button mat-raised-button color="accent">forgot password?</button>

</div>
</div>
</mat-card>

